/* Reset */
* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
/* inherit significa= Busca a cor que você deveria herdar, e como o link do spotify está em body e body esta com color white,
então o link(a) deveria herdar essa cor! */

/* Header */
.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
  text-decoration: underline;
}

/* Main */
.main {
  margin: 0 10px 10px;
  padding: 20px;
  background-color: brown;
  border-radius: 15px;
  flex: 1;
  background-image: linear-gradient(to bottom, transparent, black);
}

.main__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__link:hover {
  text-decoration: underline;
}
